@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primer    : #007BFF;
    --sekunder  : #ffdd59;
    --terang    : #ffffff;
    --abu-abu   : #F6F6F6;
    --gelap     : #485460;
}

html, body{
  background: var(--terang);
  height: 100%;
  margin: 0px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition-duration: 1000ms;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  position: relative;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}
a{
  text-decoration: none;
}

h1{
  margin-bottom: 25px;
}

.small{
  font-size: 9px;
  color: var(--primer);
}

section{
  padding-top: 60px;
  padding-bottom: 80px;
}
section.white{
  background-color: var(--terang);
}
section.gray{
  background-color: var(--abu-abu);
}

section.client-section{
  min-height: 120px;
  background-color: var(--gelap);
  color: white;
}

nav{
  box-shadow: 0px 0px 15px rgba(72,84,96,0.5);
}
@media only screen and (min-width: 350px) {
  .navbar-brand{
    padding-left: 65px;
  }
}

.card{
  padding-top: 2rem;
  padding-bottom: 20px;
  margin: 20px;
  min-width: 250px;
}
#heading{
  color: var(--terang);
  min-height: 750px;
  background:linear-gradient( 180deg,
      rgba(39,60,117,0.3) 130px,
      rgba(39,60,117,0.3) 210px),
      url("assets/img/pexels-jumbo.jpg") !important;
}
#services{
  min-height: 300px;
}
#features{
  min-height: 500px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)) , 
    url("assets/img/pexels.jpg");
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#faq{
  min-height: 500px;
}

footer{
  min-height: 90px;
}


.ecom-logo{
  max-height: 75px;
  width: auto;
  max-width: 200px;
  margin: 0 10px;
}

/* Gray Img */

img.ecom-logo {
  filter: grayscale(100%);
}
img.ecom-logo:hover {
  filter: grayscale(0%);
}

.fs-md-icon{
  font-size: 3rem !important;
}
.fs-md-icon i{
  background-color:white;
  padding: 15px;
  border-radius: 100px;
}

.color-terang{
  color: var(--terang);
}

.card:hover{
  background-color: var(--abu-abu);
}