<!DOCTYPE html>
<html lang="id" dir="ltr">
    <head>
        <title>EJS Is Fun</title>
        <%- include('../layouts/public/head'); %>
    </head>
    <body class="container">

    <header>
        <%- include('../layouts/public/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1><%= title %></h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <footer>
        <%- include('../layouts/public/footer'); %>
    </footer>

    </body>
</html>
