<main>
    <section id="heading" class="white">
      <div class="container">
          <h1>We Help to Analyze <br>Your Store</h1>
          <a class="btn btn-primary" href="https://drive.google.com/drive/u/4/folders/1D2NYaRCtpxwX51ibO5xbSj_c230W1RGf" 
            target="_blank">Try for Free</a>
      </div>
    </section>
    <section class="client-section">
      <div class="container text-center">
        <span>Supported E-Commerce:</span>
        <div class="row">
          <div class="col">
            <img class="img-responsive ecom-logo" src="http://www.tokotenun.com/wp-content/uploads/2018/05/logo-tokopedia-icon-mascot-400x400.png" alt="">
          </div>
        </div>
        <span class="small">*We haven't contract</span>
      </div>
    </section>
    <section id="services" class="gray">
      <div class="container text-center">
          <h1>Services</h1>
      </div>
    </section>
    <section id="features" class="white">
      <div class="container text-center">
          <h1 class="color-terang">Features</h1>
          <div class="row row-cols-12 d-flex justify-content-evenly">
              <div class="col col-md-4 card">
                <div class="fs-md-icon"><i class="feather-message-square fs-md-icon"></i></div>
                <h2>Review Analytic</h2>
                <p>Our services will analyze product that already binded by E-Commerce product.
                  It will give you visualization and categorized review.
                </p>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#reviewAnalytic">
                  Read More
                </button>
              </div>
              <div class="col col-md-4 card">
                <div class="fs-md-icon"><i class="feather-bar-chart"></i></div>
                <h2>Sales Analytic</h2>
                <p>Our services will give predict based on transaction record. 
                  This services also able to provide how much the production material needs.
                </p>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#salesAnalytic">
                  Read More
                </button>
          </div>
      </div>
    </section>
    <section id="faq" class="gray">
      <div class="container">
          <h1 class="text-center">FAQ</h1>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  What's Tokolitik?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Tokolitik is Mobile Apps that will help e-commerce store owners grow their business.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  What's the benefit?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Tokolitik will cut your time to <b>analyze reviews</b> and <b>predict your future sales</b>. We also providing to <b>calculate raw material</b> product that will be used in production.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  How it works?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  At first, you need to sign up and fill some field for your product. Make sure to be able use sales predict you need to fill some few month transaction record. We will give you prediction for next 6 month, and also production material needs for next month.<br>
                  Another feature is review analytic. To be able use this feature, make sure you fill E-Commerce product URL. Currently we only support <b>Tokopedia</b>
                </div>
              </div>
            </div>
            
          </div>
      </div>
    </section>
</main>