<footer>
    <section class="gray">
        <div class="container">
          <hr>  
          <div class="row text-center">
              <div class="col-sm-5 col-md-6">© 2021 Tokolitik All Rights Reserved</div>
              <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                <a class="icon-link" href="#"><i class="feather-instagram"></i>Undagi</a>
                <a class="icon-link" href="#"><i class="feather-facebook"></i>Undagi</a>
              </div>
          </div>
        </div>
    </section>
</footer>
<!-- scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>