<nav class="navbar navbar-light bg-light sticky-top">
  <div class="container-fluid">
      <div class="d-flex flex-md-fill flex-shrink-1">
          <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="d-flex flex-md-fill flex-shrink-1 mx-auto justify-content-center order-0">
          <a class="navbar-brand justify-content" href="#heading">
              <img src="assets/icon.png" alt="" width="30"
                  class="d-inline-block">
              Tokolitik
          </a>
      </div>
      <div class="d-flex flex-md-fill flex-shrink-1 justify-content-end order-3">
            <div class="d-none d-sm-block">
                <a class="btn btn-outline-primary" href="https://drive.google.com/drive/u/4/folders/1D2NYaRCtpxwX51ibO5xbSj_c230W1RGf" 
                        target="_blank">Download App</a>
            </div>
      </div>
      <div class="d-flex flex-md-fill flex-shrink-1 justify-content-end order-3 d-block d-sm-none">
        <a class="btn btn-outline-primary" href="https://drive.google.com/drive/u/4/folders/1D2NYaRCtpxwX51ibO5xbSj_c230W1RGf" 
              target="_blank"><i class="feather-download-cloud"></i></a>
    </div>
  </div>
  <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-light p-4">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#services">
                  Our Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#features">
                  Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#faq">
                  FAQ</a>
            </li>
        </ul>
      </div>
  </div>
</nav>